# Database
POSTGRES_GATE_USER="suite-sync"
POSTGRES_GATE_HOST="172.17.0.1" # default postgres host
POSTGRES_GATE_PORT="5432"
POSTGRES_GATE_DB="suite-sync-gate"
POSTGRES_GATE_PASSWORD="password"

# Evolu
# RELAY_PORT=4000

# Quota Manager
# QUOTA_MANAGER_PORT=4001
# HEALTH_PORT=4002

# Environment
SERVER_ENV="dev" # dev | prod (PROD enables evolu relay authentication)
